<div id="subscribeModal" class="modal fade" role="dialog" aria-labelledby="subscribeModalLabel">
  <div class="modal-content">
    <span class="close">x</span>
    <div class="subscribe-info">
		<%= render "mail_chimp_subscriber_form" %>
	</div>  
  </div>
</div><!--/modal-->