<%= render partial: 'layouts/alt_navbar' %>
<div class="container">
	<div class="row about-page">
		<div class="col-md-4 headshot">
			<img src="http://placehold.it/200x250"><br>
			<h5> Jessica Opoku-Amoah </h5>
		</div>
		<div class="col-md-6 bio-text">
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium ipsum nec erat scelerisque pulvinar. Nulla quis elementum eros. Morbi sagittis sollicitudin erat vel scelerisque. Aenean vehicula nulla sit amet ipsum facilisis, sed volutpat tortor posuere. Cras feugiat in sem id blandit. Nullam condimentum ullamcorper ante ac egestas. Etiam sit amet dui accumsan, scelerisque massa viverra, sollicitudin enim. Cras blandit lacus eros. Vestibulum efficitur enim vitae varius varius. Nunc tortor mi, gravida ut iaculis eu, aliquam sit amet dui. Sed quam turpis, commodo sed sem nec, interdum pharetra orci. Aliquam vel fermentum diam, ut commodo arcu. Suspendisse vel justo sit amet nibh pretium luctus. Nam ligula leo, fringilla quis massa quis, commodo luctus eros. Donec porttitor lacus in consectetur posuere. Vivamus euismod tristique elit.
			</p>
		</div>
	</div>
</div>