<div class="about-page" id="about-me">
	<div class="row">
		<div class="col-xs-12 col-lg-6 col-lg-push-5">
			<div class="headshot">
				<%= image_tag("jess.jpg", alt: "picture of Jessica Opoku-Amoah", class: "img-responsive") %><br>
			</div><!--/headshot-->
			<div class="quote">
				<h3> "I am also an adventurer, not afraid to go horseback riding in Puerto Rico and Ghana, climb up Mayan ruins or hop on a bus to Belize" </h3>
			</div>
		</div>
		<div class="col-xs-12 col-lg-4 col-lg-pull-6 col-lg-offset-1 about-title">
			<h1> Jessica Opoku-Amoah </h1>
			<h3> Lifestyle Travel Specialist </h3>
			<div class="check-reviews">
			<%= link_to "Check Out My Reviews", "http://www.vacation.com/travel-agents/canada/?name=jessica-opoku-amoah/54211", class: "reviews btn btn-primary", target: "_blank" %>
			<%= link_to "Travel Tools", "http://www.virtualnomads.nexioncanada.com/", class: "t-tools btn btn-primary", target: "_blank" %>
			</div><br>
			<hr/>
			<h1> My Goal </h1>
				<p> My goal? To create a travel experience that is as unique as you are. I am a lifestyle travel specialist, meaning that I always go above and beyond when planning your trips. Your vacation will not be a cookie cutter package that was designed to please the masses. No, I am an advocate for nurturing your travel goals and will work closely with you to create a journey customized to your needs and desires. I do this by actively listening to you and by supporting your dreams.	The reason I do this is because I understand that your idea of a perfect vacation is not going to be the same as the person next to you.  You, for example, may dream of basking on a beach in Mombasa, Kenya and then enjoying a camel ride with your family members. But the person next to you may prefer to go scuba diving in the Caribbean, instead.
				</p>
		</div><!--/about-title-->
	</div><!--/row-->
	<div class="row bio-two">
			<div class="col-lg-10 col-lg-offset-1 bio-text">
				<h1> Lifestyle Travel Specialist </h1>
				<p>
				As a lifestyle travel specialist, it is my job to spend time understanding your travel personality in order to choose the right itinerary and excursions for your next adventure. I am also an adventurer, not afraid to go horseback riding in Puerto Rico and Ghana, climb up Mayan ruins or hop on a bus to Belize. And as an adventurer, it is my passion to help others to enjoy the best excursions and activities out there so that they can get the most out of their vacation time.</p>
				<p>
				Food is another area that can make or break a vacation. So fortunately for my clients, finding unique dining and cooking experiences to enhance their itinerary is another area that I specialize in.  As for accommodations, I have stayed in all types, from hostels to five-star resorts. These varied experiences have helped me to pair my clients with the right type of lodging for their particular travel style. </p>
				<p>
				Through informational resources such as photography, videos, bloggings, social media and weekly newsletter the goal is to inspire you to actively see the world and fulfill those bucket lists. So if you are ready to have a travel itinerary customized and designed specifically to your needs, email or call me! I know that, together, we can create an adventure that will leave you with fond memories that will last a lifetime.
				But enough of my profession, let me let you get to know who I am! Jessica is my name and all things travel is my favourite game! I do come with corny slogans but who wants a dry travel specialists!  </p>
				<p>
				I am a native of Toronto with a strong Ghanaian identity thanks to my wonderful parents. In fact, my favourite country to travel to is Ghana! I am the youngest in my family and would say the most favourite one according my siblings. Lol. Fall is my favourite season because of the amazing fashion that is showcased. 	I am a lover of dance, particularly Kizomba originating in Angola and Samba celebrated in Brazil. I am loving music coming from the continent particularly the house scene and my favourite artist is Sade. If you don’t Sade, feel free to reach out and I will send you my favourite songs from her. I hope through this bio, you can run wild with your imagination, the passion behind Virtual Nomads and connect with our vision to support your dreams of travel and culture. 
				</p>
			</div><!--/bio-text-->
	</div><!--/bio-two-->
</div><!--/about-page-->