/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

body{
	font-family: 'Cinzel', serif;
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	min-height: 100%;
}

html{
	height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

section{
	padding-top: 50px;
	padding-bottom: 50px;
}

#home{
	padding-top: 0;
	padding-bottom: 0;
}

.video-content{
	background: rgb(240,240,240); 
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: rgb(46, 184, 80);
    border-color: rgb(46, 184, 80);
}

.btn-book,
.btn-book:hover,
.btn-book:active,
.btn-book:visited,
.btn-book:focus {
    background-color: black;
    border-color: black;
}

.navbar-brand{
	padding: 0;
}

.navbar{
	background-color: transparent;
	background: transparent;
	border-color: transparent;
	border: 0;
	margin-right: -15px;
	margin-left: -15px;
}

.navbar-collapse{
	margin-right: -15px;
	margin-left: -15px;
}

.navbar-default{
	box-shadow: none;
	-webkit-box-shadow: none;
	margin-right: -15px;
	margin-left: -15px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
	box-shadow: none;
	-webkit-box-shadow: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: black;
}

.navbar li{
	color: #000;
	font-weight: bold;
	font-size: 16px;
}

.navbar-header .navbar-brand, .navbar-default .navbar-nav > li > a{
	color: white;
	padding-left: 30px;
	padding-right: 30px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: transparent;
	background-image: none;
}

.navbar-nav{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}

.navbar-home{
	background-color: rgba(46, 184, 80,0.7);
}

/****** Footer *******/
.footer{
	height: 50px;
	background-color: rgba(211,211,211,0.7);	
	padding-left: 10px;
	position: absolute;
	bottom: 0;
    width: 100%;
    clear: both;
}
