// Place all the styles related to the blogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar{
	font-size: 18px;
}

.new-bg-button{
	margin-top: 20px;
}

.bg-image{
	text-align: center;
}

.bg-return{
	margin-top: 20px;
	margin-bottom: 20px !important;
}

.bg-thumb-pic{
	border-radius: 10px;
}

.bg-category #c-name{
	text-decoration: underline;
	color: gray;
	margin-left: 5px;
    display: block;
    float: left;
}

.bg-title-posted{
	color: gray;
}

.comment-count{
	font-weight: bolder;
	margin-top: 5px;
	font-size: 16px;
	color: gray;
}

#c-title{
	float: left;
	font-weight: bolder;
}

.bg-title-posted span{
	font-weight: bold;
	font-size: 20px;
}

.comments-section{
	border: 0.2px solid gray;
	border-radius: 2px;
	color: gray;
	background-color: #f5f5f5;
}

.show-posted > p > span{
	font-weight: bolder;
}

.show-cats{
	font-weight: bolder;
	font-size: 16px;
}

.show-content{
	font-family: 'Open Sans Condensed', sans-serif;
	font-variant: normal;
}

.bg-content{
	font-family: 'Open Sans Condensed', sans-serif;
	font-variant: normal;
}

/********* New / Edit Pages ********/

.input-label{
	font-weight: bolder !important;
	font-style: italic;
	margin-top: 10px;
}

.blog-submit{
	margin-top: 20px;
}

.red-error{
	color: red;
	font-style: bolder;
	font-size: 18px;
}

/******** Media Queries ***********/

@media (min-width: 768px) and (max-width: 1024px){	
	.bg-centre, .bg-centre img, .main-bg-title{
		margin: auto;
		text-align: center;
	}
}
