// Place all the styles related to the prospects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-form{
	text-align: center;
	margin-top: 100px;
	color: white;
}

.book-form h2{
	margin-bottom: 30px;
}

.book-form p{
	font-size: 24px;
}

.prospect-label{
	display: inline-block;
    float: left;
    clear: left;
    width: 90px;
    text-align: right;
    margin-bottom: 10px;
    margin-left: 180px;
}

.prospect-input{
	display: inline-block;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 200px;
	color: black;
}

.sending{
	clear: both;
	margin-top: 80px;
}

.book-page{
	background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), 
						url("palm-tree.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.nex-tico-section {
	margin-top: 30px;
}

.nex-tico-section p{
	font-size: 10px;
}

.req:after{
    content: " * " ;
    color:red    
}

/******** Media Queries *********/

@media (min-width: 300px) and (max-width: 1024px){

	.sending{
		margin-bottom: 10px;
	}

	.book-form{
		margin-top: 10px;
	}
}

/******** Media Queries ***********/

@media (min-width: 768px) and (max-width: 1024px){	
		.prospect-label{
		text-align: center;
	}
}