// Place all the styles related to the video_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vid-content > h4{
	font-weight: bold;
	font-size: 24px;
	margin-right: 20px;
}

.vid-text > h4{
	font-family: 'Open Sans Condensed', sans-serif;
	font-variant: normal;
}

.instruct {
	font-family: 'Open Sans Condensed', sans-serif;
	font-variant: normal;
}

.entry-info{
	text-align: center;
}

/********* New / Edit Pages*****************/
.vid-input, .bg-input{
	font-family: 'Open Sans Condensed', sans-serif;
	font-variant: normal;
}

.link-focus{
	font-family: "Times New Roman", Georgia, Serif;
	font-variant: normal; 
	font-weight: bolder;
	font-size: 16px;
	background-color: yellow;
}

.framing{
	font-family: "Times New Roman", Georgia, Serif;
	font-variant: normal;
	background-color: yellow;
	font-weight: bolder;
}

.instruct-header{
	font-weight: bolder;
}

/******** Media Queries ***********/

@media (min-width: 768px) and (max-width: 1024px){	
	.entry-info{
		margin: auto;
		text-align: center;
	}
}

@media (max-width: 360px){
	.col-xs-12.vid-main{
		padding-left: 5px;
		padding-right: 5px;
	}
}