<div class= "row">
	<div class= "col-md-3 col-md-offset-6">
		<%= form_for @category do |c| %>
			<%= c.label :category_name %>
			<%= c.text_field :category_name %><br>

			<%= c.submit "Submit" %>
		<% end %>
	</div>
</div>