<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have a new booking request from: 
    	First Name: @prospect.first_name
    	Last Name: @prospect.last_name
    	Email: @prospect.email
    	Phone: @prospect.phone
    	Mailing Address: @prospect.mailing_address
    	Question 1: @prospect.question_1
    	Question 2: @prospect.question_2
    </p>
  </body>
</html>